.project-title {
    margin-bottom: 10px;
    z-index: 1;
}

.project-name-wrapper {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: background-color 0s ease-in-out;
    width: calc(100% + 23px);
    border-radius: 3px;
}

.project-name-wrapper:hover {
    background-color: #6e42c156;
    cursor: pointer;
    transform: scale(1.01);
    transition: background-color 0.3s ease-in-out 0.3s;
}

.project-name-wrapper h5 {
    color: var(--light);
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    position: relative;
}

.project-name-wrapper h5:hover i {
    opacity: 1;
}

.project-name-wrapper h5:hover .project-name {
    transform: translateX(23px);
}

.project-name-wrapper .project-name {
    transition: transform .4s ease-in-out;
}

.project-title-icon {
    opacity: 0;
    font-size: 16px !important;
    position: absolute;
    top: 2px;
    left: 3px;
    margin-right: 5px;
    transition: opacity .4s ease-in-out;
}

.project-subtitle {
    color: var(--gray);
    font-size: 12px;
}

.project-header-icon {
    position: relative;
    top: 2px;
    color: var(--gray);
    font-size: .975rem !important;
    margin-right: 5px;
}

.project-header-icon:not(:first-child) {
    margin-left: 5px;
}

.project-header-icon-wrapper:not(:first-child) {
    margin-left: 5px;
}

.mute-project-icon {
    color: var(--light);
    font-size: 24px !important;
}

.project-header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

