.version-check-card {
    border: 1px solid #5d2bff;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.version-check-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.version-check-description {
    color: #343A40;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.version-check-icon {
    cursor: pointer;
    color: #5d2bff;
}
