.mute-project-icon {
    color: #d5d5d5;
    font-size: 24px !important;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.mute-project-icon:hover {
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.1);
}

.mute-project-icon-snoozed {
    color: #e4e400;
    font-size: 24px !important;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.mute-project-icon-snoozed:hover {
    color: #ffff5c;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.1);
}

.mute-project-icon-muted {
    color: #e71a00;
    font-size: 24px !important;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.mute-project-icon-muted:hover {
    color: #ff533d;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.1);
}

.mute-project-icon:active,
.mute-project-icon-snoozed:active,
.mute-project-icon-muted:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}
