.card-project {
    transition: all .1s ease-in-out;
}

.card-project:hover {
    background-color: #6e42c156;
    cursor: pointer;
    transform: scale(1.01);
}

.badge-purple {
    background-color: #5d2bff;
    color: var(--light);
}