.footer-wrapper {
    padding-bottom: 15px;
    z-index: 1;
}

.footer-small {
    font-size: 0.9rem;
}

.footer-disabled {
    display: none;
}

.footer-link:hover {
    color: var(--purple);
    cursor: pointer;
}